In [ ]:
list_1=[1,3,5.6,'a',"PythonGeeks",0.4]
print(list_1[3]) 
print(list_1) 
print(list_1[-2])

Nama : Dian Rizky Amalia
NIM : J0403231038

In [ ]:
Sample 1:
list1=[1,-2,3,-4,5]
list2=[x**2 for x in list1]
print(list2)


fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist)

In [ ]:
emp_info=['Python',5,'Developer']


skill,exp,role=emp_info
print (skill)	
print (exp)	
print (role)

In [ ]:
tup=(9,6,'g','Python',7.4)
print(len(tup))
print(tup.index('g'))

print(tup.count('a'))

In [ ]:
t1 = (1, 2, 3, 4)
t2 = tuple([1, 2, 3, 4, 5])
t3 = tuple([1, 2, 3, 4, 5, 6])


print(f"Tuple t1: {t1}")
print(f"Tuple t2: {t2}")
print(f"Tuple t3: {t3}")

In [ ]:
tup1 = ('physics', 'chemistry', 1997, 2000);
tup2 = (1, 2, 3, 4, 5, 6, 7 );
print ("tup1[0]: ", tup1[0])
print ("tup2[1:5]: ", tup2[1:5])

In [ ]:
tup1 = (12, 34.56);
tup2 = ('abc', 'xyz');

tup3 = tup1 + tup2;
print (tup3);

In [ ]:
tup = ('physics', 'chemistry', 1997, 2000);
print (tup);
del tup;
print ("After deleting tup : ");
print (tup);

In [ ]:
tup=(1,2,3,4,5)

list1=list(tup)
list1[4]=6

tup=tuple(list1)
tup

In [ ]:
tup=1,2,3 #packing
print("The type of ",tup,"is:",type(tup))

a,b,c=tup 
print(a)
print(b)
print(c)

In [ ]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print ("dict['Name']: ", dict['Name'])
print ("dict['Age']: ", dict['Age'])

In [ ]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict['Age'] = 8; 
dict['School'] = "DPS School"; 

print ("dict['Age']: ", dict['Age'])
print ("dict['School']: ", dict['School'])

In [ ]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict['Age'] = 8; 
dict['School'] = "DPS School"; 

print ("dict['Age']: ", dict['Age'])
print ("dict['School']: ", dict['School'])

In [ ]:
dict = {'Name': 'Zara', 'Age': 7, 'Name': 'Manni'}
print ("dict['Name']: ", dict['Name'])

In [ ]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
Months={"Jan","Feb","Mar"}
Dates={21,22,17}
print(Days)
print(Months)
print(Dates)

In [ ]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
 
for d in Days:
   print(d)

In [ ]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"])
 
Days.discard("Sun")
print(Days)

Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"])
 
Days.discard("Sun")
print(Days)

In [ ]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
print(DaysA|DaysB)		
print(DaysA & DaysB)	
print(DaysA - DaysB)

In [ ]:
employee_dict = {
    12345: {
        "id": "12345",
        "name": "John", 
        "department": "Kitchen"    
    },
    12458: {
        "id": "12458",
        "name": "Paul", 
        "department": "House Floor"    
    }
}

def get_employee_from_dict(id):
    return employee_dict[id];

print(get_employee_from_dir(12458)):